<!-- import base loader modules from baseDesign.html -->

{% extends 'poller/baseDesign.html' %}

<!-- using bootstrap libs for easy layouting the blogging pages -->

{% block content %}

<!--Table-->
<table class="table table table-striped table-dark">

  <!--Table head-->
  <thead>
    <tr>
      <th>#</th>
      <th>InstanceID</th>
      <th>InstanceType</th>
      <th>Lifecycle</th>
      <th>Platform</th>
      <th>Hypervisor</th>
      <th>Architecture</th>
      <th>RootDevice</th>
      <th>IAM </th>
      <th>LaunchTime</th>
      <th>Placement</th>
      <th>State</th>
      <th>TransitionReason</th>
      <th>AMI Index</th>
      <th>ClientToken</th>
      <th>Image</th>
      <th>NetworkInterface</th>
      <th>StateReason</th>

    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Kate</td>
      <td>Moss</td>
      <td>USA</td>
      <td>New York City</td>
      <td>Web Designer</td>
      <td>23</td>
    </tr>
    
    {% for instance in instances %}
        <tr>
            <th scope="row">3</th>
            <td>{{instance.instanceId}}</td>
            <td>{{instance.type}}</td>
            <td>{{instance.lifecycle}}</td>
            <td>{{instance.platform}}</td>
            <td>{{instance.hypervisor}}</td>
            <td>{{instance.architecture}}</td>
            <td>{{instance.rootdevice}}</td>
            <td>{{instance.iam}}</td>
            <td>{{instance.launchtime}}</td>
            <td>{{instance.placement}}</td>
            <td>{{instance.state}}</td>
            <td>{{instance.tranReason}}</td>

        </tr>
    {% endfor %}
  </tbody>
  <!--Table body-->


</table>
<!--Table-->

{% endblock %}